<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Страница{% endblock %} - Хранилище решений CodeCat
  </title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/static/css/macros.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$$$','$$$']], displayMath: [['$$$$$$','$$$$$$']]}
    });
    </script>
  {% block style %}{% endblock %}
  {% block script %}{% endblock %}
</head>

<body>
  <div class="container" id="app">
    {% include "/blocks/header.jinja" %}
    {% block content %}{% endblock %}
    {% include "/blocks/footer.jinja" %}
  </div>

  <script src="/static/js/macros.js" type="text/javascript"></script>
  {% block script_end %}{% endblock %}
</body>

</html>