<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Страница{% endblock %} - Хранилище решений CodeCat
  </title>
  <link rel="icon" type="image/png" href="/static/favicon.png">
  <link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="/static/css/macros.css" />
  <link rel="stylesheet" href="/static/css/style.css" />
  {% block style %}{% endblock %}
</head>

<body>
  <div class="container" id="app">
    {% include "/blocks/header.jinja" %}
    {% block content %}{% endblock %}
    {% include "/blocks/footer.jinja" %}
  </div>
</body>

</html>