.wrapper {
  background: #ccc;
  border: 4px solid #ccc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.wrapper .wrapper__content {
  padding: 10px;
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.block {
  padding: 10px;
  border: 1px solid #999;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.block:not(:first-child) {
  margin-top: 10px;
}

.block__row {
  padding: 10px 0;
  width: 100%;
}

.block__row:not(:first-child) {
  border-top: 1px solid #ccc;
}

.block__title {
  padding: 5px 0;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  color: black;
}

.block-search .input-row input {
  width: calc(100% - 32px);
}

.block-search .input-row .button-search {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.block-search .input-row .button-search span {
  opacity: .5;
}
.block-search .input-row .button-search span:hover, .block-search .input-row .button-search span:hover:active {
  opacity: 1;
}

.block-search .input-row .button-search span::before {
  vertical-align: middle;
}

.chip {
  margin: 2px;
  padding: 5px;
  display: inline-block;
  font-size: .8rem;
  background: #f0f0f0;
  border-radius: 5px;
}

.spoiler  {
  padding: 5px 0;
}

.spoiler .spoiler__title {
  cursor: pointer;
  user-select: none;
}

.spoiler .spoiler__title .icon::before {
  content: "\F035F";
}

.spoiler .spoiler__content {
  padding: 10px 0;
  display: none;
}

.spoiler.spoiler-opened .spoiler__title .icon::before {
  content: "\F035D";
}

.spoiler.spoiler-opened .spoiler__content {
  display: block;
}

.copyable {
  width: 100%;
  border: 1px solid #999;
}

.copyable .copyable__title {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #999;
}

.copyable .copyable__title a{
  color: darkblue;
}

.copyable .copyable__content {
  padding: 5px;
  font-family: monospace;
  background: #f0f0f0;
  color: #800;
}