<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    {% block title %}Страница{% endblock %} - Хранилище решений CodeCat
  </title>
  {% include "/base/includes.jinja" %}

  <link rel="stylesheet" href="/static/css/macros.css" />
  <link rel="stylesheet" href="/static/css/style.css" />

  {% block style %}{% endblock %}
  {% block script %}{% endblock %}
</head>

<body>
  <div class="container" id="app">
    {% include "/components/header.jinja" %}
    {% include "/components/flashed-view.jinja" %}

    {% block content %}{% endblock %}

    {% include "/components/footer.jinja" %}
  </div>

  <script src="/static/js/macros.js" type="text/javascript"></script>
  <script src="/static/js/autocomplete.js"></script>
  <script>hljs.highlightAll();</script>
  {% block script_end %}{% endblock %}
</body>

</html>