<!-- Favicon -->
<link rel="icon" type="image/png" href="/static/img/favicon.png">

<!-- Material Design Icons -->
<link rel="stylesheet" href="/static/css/materialdesignicons.min.css" />

<!-- highlight.js - Code Highlighter -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

<!-- MathJax - TeX math formulas -->
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML" async>
  </script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$$$','$$$']], displayMath: [['$$$$$$','$$$$$$']]}
    });
</script>

<!-- Global Style -->
<link rel="stylesheet" href="/static/css/style.css" />