<footer class="footer">
  Created by
  <a href="https://github.com/StarPandaBeg" title="GitHub Profile" target="_blank">stpnd</a>
  with &hearts;
  <br />
  # MakeITSimpler
</footer>

<style>
  .footer {
    margin-top: auto;
    font-size: .8rem;
    color: #ccc;
  }

  .footer a {
    color: #999;
  }
</style>