<header class="header">
  <div class="header__brand">
    <a href="/" title="CodeCat - Хранилище кода" class="header__brand-logo">
      <img src="/static/logo.png" alt="CodeCat" />
    </a>
    <div></div>
  </div>
  <div class="header__nav-container">
    <nav>
      <ul>
        <li>
          <a href="/contests" class="{{ 'active' if tab == 'contests' else '' }}">Соревнования</a>
        </li>
        <li>
          <a href="/problems" class="{{ 'active' if tab == 'problems' else '' }}">Задачи</a>
        </li>
        <li>
          <a href="/algo" class="{{ 'active' if tab == 'algo' else '' }}">Алгоритмы</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<style>
  .header {
    width: 100%;
  }

  .header .header__brand {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header .header__brand .header__brand-logo {}

  .header .header__brand .header__brand-logo img {
    height: 48px;
  }

  .header .header__nav-container {
    width: 100%;
  }

  .header .header__nav-container nav {
    padding: 10px 15px;
    width: 100%;
    border: 1px solid #999;
    border-radius: 5px;
  }

  .header .header__nav-container nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }

  .header .header__nav-container nav ul li {
    list-style: none;
  }

  .header .header__nav-container nav ul li a {
    padding-bottom: 5px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
  }

  .header .header__nav-container nav ul li a.active {
    color: darkblue;
    border-color: darkblue;
  }

  @media screen and (max-width: 768px) {
    .header .header__brand {
      justify-content: center;
    }

    .header .header__nav-container nav ul {
      justify-content: center;
    }
  }
</style>