{% extends 'base/two-column.jinja' %}
{% from 'macro/chip.jinja' import chip %}
{% from 'macro/wrapper.jinja' import wrap %}
{% from 'macro/block.jinja' import block, block_title, block_row %}

{% block title %}
{{ contest.name }}
{% endblock %}

{% block column_a %}
<div class="contest-view">
  {% call wrap("Задачи") %}
  <table class="table">
    <thead>
      <tr>
        <th width="32px">#</th>
        <th>Задача</th>
        <th>Тэги</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for problem in contest.problems %}
      <tr class="{{ problem.css_class }}">
        <td>
          <a href="/problems/{{ problem.id }}">{{ problem.letter }}</a>
        </td>
        <td>
          <a href="/problems/{{ problem.id }}">{{ problem.name }}</a>
        </td>
        <td>
          {% for tag in problem.tags %}
          {{ chip(tag.tag) }}
          {% endfor %}
        </td>
        <td align="right">
          {% if problem.status_icon %}
          <span class="icon mdi mdi-24px {{ problem.status_icon }}" title="{{ problem.status_friendly }}"></span>
          {% endif %}
          {% if problem.solutions|length == 0 %}
          <span class="icon icon-no-code mdi mdi-24px mdi-xml" title="К задаче не добавлено решений"></span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endcall %}
</div>
{% endblock %}

{% block column_b %}
{% call block() %}
{{ block_title(contest.name, contest.link) }}

{% if contest.description %}
{% call block_row() %}
{{ contest.description }}
{% endcall %}
{% endif %}

{% call block_row() %}
<p><b>Завершен:</b> {{ contest.date.strftime('%d.%m.%Y') }}</p>
<p title="Решено / Ошибка / Не начато">
  <b>Статистика:</b>
  {{ contest.problems|map(attribute="status")|selectattr("name", "eq", "solved")|list|length -}}
  /
  {{- contest.problems|map(attribute="status")|selectattr("name", "in", ["time_exceed", "memory_exceed",
  "wrong"])|list|length -}}
  /
  {{- contest.problems|map(attribute="status")|selectattr("name", "eq", "none")|list|length -}}
</p>
<p>
  <b>Всего:</b>
  {{ contest.problems|map(attribute="status")|selectattr("name", "eq", "solved")|list|length -}}
  /
  {{- contest.problems|length }}
</p>
{% endcall %}

{% endcall %}
{% endblock %}

{% block style %}
{{ super() }}
<style>
  .contest-view table tr th,
  .contest-view table tr td {
    padding: 10px;
  }

  .contest-view table tbody tr.solved {
    background: rgb(230, 255, 230);
  }

  .contest-view table tbody tr.failed {
    background: rgb(255, 230, 230);
  }

  .contest-view table tbody tr.solved .icon {
    color: rgb(100, 205, 100);
  }

  .contest-view table tbody tr.failed .icon,
  .contest-view table tbody tr .icon-no-code {
    color: rgb(255, 50, 50) !important;
  }
</style>
{% endblock %}