{% set tab='contests' %}

{% extends 'base/two-column.jinja' %}
{% from 'macro/wrapper.jinja' import wrap %}
{% from 'macro/blocks.jinja' import block_actions %}
{% from 'macro/input.jinja' import input_row %}

{% block title %}
Новое соревнование
{% endblock %}

{% block column_a %}
<div class="contest-new">
  {% call wrap("Новое соревнование") %}
  <form id="form" method="post">
    {{ input_row(form.name, 'Название соревнования') }}
    {{ input_row(form.date, 'Дата проведения') }}
    {{ input_row(form.link, 'Ссылка') }}
    {{ input_row(form.description, 'Описание') }}
  </form>
  {% endcall %}
</div>
{% endblock %}

{% block column_b %}
{{ block_actions(url_for('contest.index')) }}
{% endblock %}