{% set tab='contests' %}

{% extends 'base/two-column.jinja' %}
{% from 'macro/wrapper.jinja' import wrap %}
{% from 'macro/block.jinja' import block, block_title, block_row %}
{% from 'macro/block-search.jinja' import block_search %}

{% block title %}
Соревнования
{% endblock %}

{% block column_a %}
<div class="contest">
  {% call wrap("Список соревнований") %}
  <table class="table">
    <thead>
      <tr>
        <th>Название</th>
        <th>Дата</th>
        <th>Задач</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for contest in contests %}
      <tr>
        <td>{{ contest.name }}</td>
        <td>{{ contest.date.strftime('%d.%m.%Y') }}</td>
        <td>
          {{ contest.problems|map(attribute="status")|selectattr("name", "eq", "solved")|list|length -}}
          /
          {{- contest.problems|length }}
        </td>
        <td align="right">
          <a href="{{ url_for('contest.view', id=contest.id) }}">Подробнее</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {%endcall%}
  <div class="contest__new">
    <a href="{{ url_for('contest.create_get') }}">Добавить</a>
  </div>
</div>
{% endblock %}

{% block column_b %}

{% call block() %}
{{ block_title("Поиск") }}
{{ block_search("/contests/search") }}
{% endcall %}

{% endblock %}

{% block style %}
{{ super() }}
<style>
  .contest {
    width: 100%;
  }

  .contest .contest__header {
    font-size: 1.2rem;
  }

  .contest .contest__new {
    padding-top: 5px;
    text-align: right;
    font-size: .8rem;
  }

  .contest .contest__new a {
    color: darkblue;
    opacity: .75;
  }
</style>
{% endblock %}