{% extends 'base/two-column.jinja' %}
{% from 'macro/chip.jinja' import chip %}
{% from 'macro/wrapper.jinja' import wrap %}
{% from 'macro/block.jinja' import block, block_title, block_row %}
{% from 'macro/spoiler.jinja' import spoiler %}
{% from 'macro/copyable.jinja' import copyable %}

{% block title %}
Задача {{ problem.letter }} - {{ problem.contest.name }}
{% endblock %}

{% block column_a %}
<div class="problem-view">
  <div class="problem-view__title">
    <h1>{{ problem.letter }}. {{ problem.name }}</h1>
    <p>ограничение по времени на тест: {{ problem.time_limit }}</p>
    <p>ограничение по памяти на тест: {{ problem.memory_limit }}</p>
  </div>
  {% call spoiler("Текст задачи", True) %}
  <span class="problem-view__problem">
    {{ problem.text }}
  </span>
  {% endcall %}
  {% call spoiler("Данные") %}
  <div class="problem-view__data">
    <h2>Входные данные</h2>
    {{ problem.data_in }}
  </div>
  <div class="problem-view__data">
    <h2>Выходные данные</h2>
    {{ problem.data_out }}
  </div>
  {% endcall %}
  {% call spoiler("Примеры") %}
  {% for example in problem.examples %}
  <div class="example">
    <div class="example__block">
      {% call copyable("Входные данные") %}{{- example.input|e -}}{% endcall %}
    </div>
    <div class="example__block">
      {% call copyable("Выходные данные") %}{{- example.output|e -}}{% endcall %}
    </div>
  </div>
  {% endfor %}
  {% if problem.example_description %}
  <p class="example-description">{{ problem.example_description }}</p>
  {% endif %}
  {% endcall %}
  {% call spoiler("Решения") %}
  {% for solution in problem.solutions %}
  <div class="solution">
    <div class="solution_block">
      {% call copyable(solution.lang, True, solution.lang) %}{{- solution.code|e -}}{% endcall %}
    </div>
    {% if solution.comment %}
    <p class="solution_description">{{ solution.comment }}</p>
    {% endif %}
  </div>
  {% endfor %}
  {% endcall %}
</div>
{% endblock %}

{% block column_b %}
{% call block() %}
{{ block_title(problem.contest.name, url_for('contest.view', id=problem.contest.id)) }}

{% if problem.contest.description %}
{% call block_row() %}
{{ problem.contest.description }}
{% endcall %}
{% endif %}

{% call block_row() %}
<p>
  <b>Статус:</b>
  <span class="status {{ problem.css_class }}">{{ problem.status.value }}</span>
</p>
{% if problem.solutions|length == 0 %}
<p><b>Решений нет!</b></p>
{% endif %}
{% endcall %}

{% call block_row() %}
{% for tag in problem.tags %}
{{ chip(tag.tag) }}
{% endfor %}
{% endcall %}

{% endcall %}
{% endblock %}

{% block style %}
{{ super() }}
<style>
  .problem-view {
    min-height: 90vh;
  }

  .problem-view .problem-view__title {
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
  }

  .problem-view .problem-view__title h1 {
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 1.3rem;
  }

  .problem-view .problem-view__title p {
    font-size: .9rem;
    opacity: .75;
  }

  .problem-view .problem-view__problem {
    font-size: .9rem;
    opacity: .75;
  }

  .problem-view .problem-view__problem ul {
    list-style-position: inside;
  }

  .problem-view .problem-view__problem ul li {
    padding: 5px 0;
  }

  .problem-view .problem-view__problem ul li:first-child {
    padding-top: 10px;
  }

  .problem-view .problem-view__data {
    padding: 5px 0;
    font-size: .9rem;
    opacity: .75;
  }

  .problem-view .problem-view__data h2 {
    padding: 5px 0;
    font-size: 1rem;
    opacity: 1;
  }

  .problem-view .example .example__block:not(:first-child) {
    padding-top: 5px;
  }

  .problem-view .example:not(:first-child) {
    padding-top: 20px;
  }

  .problem-view .example-description {
    padding-top: 20px;
  }

  .problem-view .solution_description {
    padding-top: 10px;
  }

  .status.solved {
    color: rgb(19, 122, 19);
    font-weight: 500;
  }

  .status.failed {
    color: rgb(145, 16, 16);
    font-weight: 500;
  }
</style>
{% endblock %}