{% from '/util/random.jinja' import random_string %}

{% macro wrap(title) -%}
<div class="wrapper">
  <div class="wrapper__header">
    {{title}}
  </div>
  <div class="wrapper__content">
    {{caller()}}
  </div>
</div>
{%- endmacro %}

{% macro spoiler(title, opened = False) -%}
{% set spoiler_id = random_string(16) %}
<div class="spoiler{{ ' spoiler-opened' if opened else '' }}" data-spoiler-id="{{ spoiler_id }}">
  <div class="spoiler__title" onclick="toggleSpoiler('{{ spoiler_id }}')">
    <span class="icon mdi"></span>
    {{ title }}
  </div>
  <div class="spoiler__content">
    {{caller()}}
  </div>
</div>
{%- endmacro %}

{% macro copyable(title, code = False, lang = '') -%}
{% set copyable_id = random_string(16) %}
<div class="copyable" data-copyable-id="{{ copyable_id }}">
  <div class="copyable__title">
    <div>{{ title }}</div>
    <div>
      <a href="javascript:void(0)" onclick="copyableCopy('{{ copyable_id }}')">копировать</a>
    </div>
  </div>
  <pre
    class="copyable__content{{' copyable__content-code' if code else ''}}">{% if code %}<code class="lang-{{lang}}">{{caller()}}</code>{% else %}{{caller()}}{% endif %}</pre>
</div>
{%- endmacro %}