{% from 'macro/util/random.jinja' import random_string %}

{% macro spoiler(title, opened = False) -%}
{% set spoiler_id = random_string(16) %}
<div class="spoiler{{ ' spoiler-opened' if opened else '' }}" data-spoiler-id="{{ spoiler_id }}">
  <div class="spoiler__title" onclick="toggleSpoiler('{{ spoiler_id }}')">
    <span class="icon mdi"></span>
    {{ title }}
  </div>
  <div class="spoiler__content">
    {{caller()}}
  </div>
</div>
{%- endmacro %}